
header{
    background: rgb(128, 75, 75);
    /* width:auto; */
}

/* header nav{
    background: rgb(128, 75, 75);
} */
#team-member ul{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 10;
    width: auto;
}

.member-image{
    width:90%;
    /* object-fit:scale-down; */
}

section{
    margin-top: 150px;
}

@media (max-width: 600px) {
    #team-member ul{
        /* width: 100%; */
        grid-template-columns:auto;
        
    }

    .member-image{
        width: auto;
        text-align: center;
    }

    .member-info{width: auto;

        padding: 20px;
    }

    .member-text{
        width: fit-content;
    }
    header, footer{
        width:auto;
    }
    ul{
        padding-left: auto;
        padding-right: auto;

    }
}

